[server]
hidden_host =
port        = 8089

[database]
type     = mysql
username = root
password = changeme
database = writefreely
host     = db
port     = 3306

## This is an SQLite database example
#[database]
#type     = sqlite3
#filename = writeas.db

[app]
site_name         = WriteFreely Example Blog!
host              = http://localhost:8080
theme             = write
disable_js        = false
webfonts          = true
single_user       = true
open_registration = false
min_username_len  = 3
max_blogs         = 1
federation        = true
public_stats      = true
private           = false

## If you want to run an I2P eepSite, configure this
#[i2p]
#sam_address     = 127.0.0.1:7656
#tunnel_length   = 2
#tunnel_quantity = 2
#garlic_id       = writeextrafreely
#proxy_id        = federateextrafreely
